.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 30px;
  font-size: 26px;
}

.welcome-header__text {
  width: 67%;
  opacity: 0.7;
  font-size: 16px;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
}

#login-form input:first-child {
  margin-bottom: 0;
}

#login-form input:not([type="submit"]) {
  border-bottom: var(--main--border);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"] {
  cursor: pointer;
  margin-bottom: 10px;
  background-color: rgba(191, 191, 191, 0.1);
  border-radius: 5px;
}

#login-form input[type="submit"]:hover {
  background-color: var(--yellow);
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}
