.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.chat {
  position: absolute;
  left: 20px;
  bottom: 16px;
  animation: messageAlert 2s ease-in-out infinite;
}

@keyframes messageAlert {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
}

.nav__link > .dot {
  bottom: 25px;
  margin-left: 20px;
  left: 20px;
  bottom: 25px;
}
